.b-panel{
    &__mainMenu{
        height: 800px;
        min-width: 100px;
        background-color: #1d232a;
        color: #fff;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.02) 95%, #101010 100%);
    }
    .b-mainMenu{
        
        &__menuButton{
            height: 50px;
            display: flex;
            justify-content: center;
            background-position: center;
            align-items: center;
            &.b-menuImgWraper{
                width: 16px;
                height: 12px;
                background-position: center;
                } 
        }
        &__socialButton{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
    }
    .b-socialButton{
        &__buttonUnit{
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            margin: 20px 0;
            
            &:hover{
                cursor: pointer;
                
                
            }
            &.active{
                transform: scale(1.1);
                background-image: linear-gradient(-90deg, #1d232a 0%, #FC933A 100%);
            }
        }
        
    }
    
}
