@import "_vars";

@font-face {
    font-family: 'Brandon Grotesque Light';
    src: url('../fonts/BrandonGrotesque-Light.eot');
    src: url('../fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BrandonGrotesque-Light.woff') format('woff'),
    url('../fonts/BrandonGrotesque-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }