$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

$esFrom: 0px;
$esTo: 575px;
$smFrom: 576px;
$smTo: 767px;
$mdFrom: 768px;
$mdTo: 991px;
$lgFrom: 992px;
$lgTo: 1199px;
$xlFrom: 1200px;


$shadowBlock: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
