@import "vars.scss";
@import "font.scss";

@import "media"; // Always at the end

#root{
    position: relative;
}

#mainWraper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 100%;
    min-height: 600px;
    max-height: 850px;
    overflow: hidden;
        &:before{
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            top: -50%;
            left: -50%;
            z-index: -1;
            background: url("../img/bg.png") 0 0 repeat;
            z-index: -1;
            animation: rotate 160s linear infinite;
        }
}

@keyframes rotate{
    100%{
    transform: rotate(360deg);
    }
}

.formWraper{
    font-family: 'Brandon Grotesque Light';
    width: 354px;
    height: 431px;
    background-color: #ffffff;
    border-radius: 5px;
    transform-style: preserve-3d;
    transform: perspective (100px);
}

#mountain{
    position: absolute;
    top: 500px; //455
    left: -150px;
    width: 200%;
    height: 150px;
    background: url("../img/mountain.png");
    background-repeat: no-repeat;
}

/*LoginHead Component*/

.login{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective (100px);
}

.loginTo{
    font-size: 12px;
    color: #b4b4b7;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    transform: translateZ(30px);
    @extend %block3d;
}

.title{
    transform-style: preserve-3d;
    transform: translateZ(30px);
    margin: 0;
}

/*LoginForm Component*/

.userFormWraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    transform-style: preserve-3d;
    transform: perspective (100px);
    transform: translateZ(30px);
}

.userForm{
    max-width:  292px;
    transform: translateZ(30px);
    box-shadow: $shadowBlock;
    @extend %block3d;
        & input{
            width: 100%;
            height: 35px;
            font-size: 18px;
            border: none;
            outline: none;
        }
}

.inputWraper::after{
    content: " ";
    width: 292px;
    height: 2px;
    background-color: #e6eaec;
    position: relative;
    display: block;
}

/*ButtonForm Component*/

.buttonFormWraper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.keepLogin{
    background-color: #fff;
    box-shadow: $shadowBlock;
    @extend %block3d;
    transform: translateZ(80px);
    border-bottom: 2px solid #49c1ff;
}

.btnLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93px;
    height: 44px;
    background-color: #49c1ff;
    transition: 0.2s;
    box-shadow: $shadowBlock;
    @extend %block3d;
    transform: translateZ(80px);
        &:hover{
            cursor: pointer;
            background-color: #49dbffce;
            transform: translateZ(50px);
        }
        .btnTitle{
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 5.2px;
            position: relative;
        }
}

/*Block 3d Effect*/

%block3d{
    transform-style: preserve-3d;
    transform: perspective (100px);
}
/*--END--Block 3d Effect*/


/*LoginToggler Component*/
.togglerWraper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
        .toggler{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 5.2px;
            width: 93px;
            height: 44px;
            background-color: #49c1ff;
            transition: 0.2s;
            box-shadow: $shadowBlock;
            @extend %block3d;
            transform: translateZ(80px);
            &:hover{
                cursor: pointer;
                background-color: #49dbffce;
                transform: translateZ(50px);
            }
        }
}

#loginToggler {
    margin-right: 10px;
}
/*MAIN PAGE*/

// .mainMenuPanel{ //стиль для чата
//     width: 10%;
//     height: 1000px;
//     background-color: #aab0b9;
//     background-image: linear-gradient(to bottom, #eceef2 0%, rgba(236, 238, 242, 0) 100%);
// }

@import "../components/MainPage/panel";